.page {
  padding: 20px;
  max-width: 1150px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.user {
  font-size: 16px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.answerInput {
  margin-top: 10px;
  max-width: 280px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.taskList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.submitButton {
  align-self: center;
  background-color: #3b5bbb;
  border-color: #3b5bbb;
  margin-bottom: 20px;
  color: #fff;

  &:hover {
    background-color: #2a4488;
    border-color: #2a4488;
  }

}

.hash {
  font-size: 14px;
}

@media (max-width: 710px) {
  .taskList {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
  }
}