@import 'app/design/mixins';

.wrapper {
  padding: var(--indent-size-s) 0;
  display: grid;
  gap: 1rem;
  justify-items: center;
  width: 70%;
}


.section {
  display: grid;
  width: 100%;
  gap: 1rem;

  & > * {
    width: 100%;
  }
}

.sectionName {
  @include text();
  text-align: center;
  margin-bottom: var(--indent-size-xs);
}

.sectionValues {
  display: flex;
  gap: 5rem;
}


.tasks {
  display: grid;
  width: 100%;
}

.taskContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.template {
  display: grid;
  justify-items: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.templateContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.templateSlider {
  width: 10rem;
}

.templateAmount {
  width: 1rem;
}

.templatePreview {
  display: grid;
  justify-content: center;
}

.slider {
  display: flex;
  gap: 0.5rem;
  align-items: center
}

.desc {
  @include text();
  margin-bottom: var(--indent-size-m);
}

.buttonPrimary {
  max-width: 240px;
  background-color: #3b5bbb;
  border-color: #3b5bbb;
  color: #fff;

  &:hover {
    background-color: #fff !important;
  }

  &:focus {
    background-color: #3b5bbb;
    border-color: #3b5bbb;
    box-shadow: 0 0 0 2px rgba(59, 91, 187, 0.2);
  }

  &:active {
    background-color: #3b5bbb !important;
    border-color: #3b5bbb;
    color: #fff;
  }
}
.controls {
  display: flex;
  justify-content: space-between; /* Размещает элементы по разным сторонам */
  align-items: center; /* Выравнивает элементы по вертикали */
  width: 100%; /* Занимает всю ширину контейнера */
  gap: 16px; /* Добавляет отступ между элементами */

  .select {
    flex: 1; /* Занимает доступное пространство */
    max-width: 300px; /* Ограничивает максимальную ширину */
  }

  .input {
    flex: 1; /* Занимает доступное пространство */
    max-width: 300px; /* Ограничивает максимальную ширину */
  }
}

@media (max-width: 900px) {
  .templateContainer {
    flex-direction: column;
  }
  .slider {
    margin-bottom: var(--indent-size-s);
  }
}
